@CHARSET "UTF-8";
<style type="text/css">
/*개인정보이용>이용약관*/
.agree01{position:relative;margin:0 auto;width:100%;margin-bottom:10px;font-size:12px;}
.agree01 b{color:#393939;}
.agree01 p{font-size:12px;}
.agree01 p.right{float:right;font-size:11px;}
.agree_fieldset01{clear:both;float:left;width:96%;height:450px;padding:15px;margin:5px 0;border:1px solid #dcdcdc;}
.agree_fieldset01 a:hover{text-decoration:underline;}
.agree_fieldset01 p{margin-bottom:5px;}
.agree-title{font-weight:700;}
</style>